{% extends 'basic.html' %}
{% load static %}

{% block title %}Cart {% endblock %}
{% block body %}
<style>
 h1.fw-Italic.display-2 {
    font-family: "Audiowide", sans-serif;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 400; /* Normal weight, not bold */
    color: #2c3e50;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

h1.fw-Italic.display-2:hover {
    transform: scale(1.05);
}

/* AOS Animation */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

</style>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Payment Information</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
<body>
<h1 style="text-align: center; margin: 200px; font-size: 50; color: rgb(10, 10, 10)">Payment Successfull</h1>


</body>



{% endblock %}
